<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->


    <div th:if="${jobs} and ${jobs.size() > 0 }"> <!-- if jobs not null AND not empty -->

        <table th:each="job : ${jobs}" th:class="job-listing"> <!-- Add CSS class "job-listing" to tables to get styling, courtesy of Eliot's work! -->

            <tr th:each="component, index : ${job}" > <!-- Nest loop to go through items in each job -->
                <td th:text="${#strings.capitalizeWords(component.key)}"></td> <!-- Column 1 of 2 -->
                <td th:text="${component.value}"></td> <!-- Column 2 of 2 -->
            </tr>
        </table>
        <br/>

    </div>

</div>

</body>
</html>